<pagination-controls id="pagination" maxSize="10" directionLinks="true" (pageChange)="currentPage = $event"></pagination-controls>
  <ul>
    <!-- <li *ngFor="let item of dataList | keyvalue | paginate: {id: 'pagination', itemsPerPage: 20, currentPage: currentPage, totalItems: totalItems} ">
      <a type="button" class="btn btn-light" [routerLink]="['/station-bici/station-list', item.key]"> {{item.value}}</a>
    </li> -->
    <li *ngFor="let item of networkList | paginate: {id: 'pagination', itemsPerPage: 15, currentPage: currentPage, totalItems: totalItems} ">
      <a class="btn btn-light" [routerLink]="['/station-bici/station-list', item.id]"> 
        {{item.location.city}} sus coordinadas son  {{item.location.latitude}} y  {{item.location.longitude}}</a>
    </li>
</ul>


 
