<!-- <a type="button" class="btn btn-primary btn-lg" [routerLink]="['/user-auth/menu']">Back to menu</a> -->

<!-- meter formulario debajo -->

<div class="container-fluid">
    <h2 class="display-4">Let's register you, human :3</h2>
    <form [formGroup]="userForm" (ngSubmit)="registerUser()" class="form-group">
        <div>
            <label>Nombre</label>
            <input type="text" [formControl]="nameField" />
            <span *ngIf="nameField.dirty && !nameField.valid">
                <span *ngIf="nameField.hasError('required')">
                    Este campo es obligatorio
                </span>
                <span *ngIf="nameField.hasError('minlength')">
                    La longitud mínima es de 2 letras.
                </span>
            </span>

        </div>
        <div>
            <label>Apellidos</label>
            <input type="text" [formControl]="surnameField" />
            <span *ngIf="surnameField.dirty && !surnameField.valid">
                <span *ngIf="surnameField.hasError('required')">
                    Este campo es obligatorio
                </span>

            </span>
        </div>

        <div>
            <p>Género:</p>
            <div class="form-check form-check-inline">
                <input type="radio" id="male" name="genero" value="hombre" [formControl]="generoField">
                <label for="male">Hombre</label><br>
                <input type="radio" id="female" name="genero" value="mujer" [formControl]="generoField">
                <label for="female">Mujer</label><br>
            </div>
        </div>

        <div>
            <label>Email</label>
            <input type="text" [formControl]="emailField" />
            <span *ngIf="emailField.dirty && !emailField.valid">Introduzca un email válido
                <span *ngIf="emailField.hasError('required')">
                    Este campo es obligatorio.
                </span>
            </span>
        </div>

        <div>
            <label>Contraseña:</label>
            <input type="password" [formControl]="passwordField" />
            <span *ngIf="passwordField.dirty && !passwordField.valid">

                <span *ngIf="passwordField.hasError('required')">
                    Este campo es obligatorio.
                </span>
                <span *ngIf="passwordField.hasError('invalidPass')">
                    La contraseña tiene que tener una letra y un numero. Y más vale que los pongas porque me he
                    pegado muchas horas para que este mensaje aparezca >:(
                </span>
            </span>
        </div>

        <div>
            <label>Fecha de nacimiento:</label>
            <input type="date" [formControl]="birthField" />
            <span *ngIf="birthField.dirty && !birthField.valid">Introduzca una fecha válida</span>
            <div>
                <button type="submit" [disabled]="!userForm.valid">Enviar</button>
            </div>
        </div>
    </form>
</div>